body {
    background-color: #EBE8DB;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10%;
    margin-top: 20px;
    background-image: linear-gradient(0deg,#eaa4b2,#f6e5e8)
}

h1{
    color: #3D0301;
    text-align: center;
    background-color: #f6e5e8;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    border: 1px #3D0301 solid;
    box-shadow: 1px 2px 5px rgba(61, 24, 24, 0.903);

}

h2 {
    text-align: center;
    background-color: #f6e5e8;
    width: 200px;
    border-radius: 10px;
    border: 1px #3D0301 solid;
    padding: 6px;
    box-shadow: 1px 2px 5px rgba(61, 24, 24, 0.903);

}


#menu {
    text-align: center;
    background-color: #e694a4;
    border-radius: 10px;
    width: 800px;
    margin: auto;
    padding: 15px;
    border: 1px #3D0301 solid;
    box-shadow: 1px 2px 5px rgba(61, 24, 24, 0.903);

}

#menu > span {
    text-align: center;
    color: #3D0301;
    background-color: #f6e5e8;
    border: 1px #3D0301 solid;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 5px;
    box-shadow: 1px 2px 5px rgba(61, 24, 24, 0.903);


}

div {
    color: #3D0301;
    text-align: justify;
    margin: auto;
    padding: 5%;
    width: 1000px;
}

#capa_album {
    width: 1200px;
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#capa_album > span {
    padding: 5px;
    margin-inline: 10px;
    
}


#capa_album > span > img, video {
    border: #3D0301 1px solid;
    border-radius: 10px;
    box-shadow: inset;
    box-shadow: 1px 2px 5px rgba(61, 24, 24, 0.903);
    
}


#corpo {
    border: #3D0301 1px solid;
    width: 1200px;
    border-radius: 10px;
    margin: auto;
    padding: 5%;
    text-align: center;
    background-color: #EBE8DB;
    box-shadow: 1px 2px 5px rgba(61, 24, 24, 0.903);

}
